h1 {
    background-color: #00ffff;
}

div {
    border: aqua;
}

#author {
    font: bold;
    font-family: 'Courier New', Courier, monospace;
}

figure {
    width: fit-content;
    height: fit-content;
}

p:hover {
    background-color: cadetblue;
}

body {
    font: italic;
}

h3.emphasized {
    font: bolder;
}

head {
    color: darkcyan;
}

h6 {
    color: darksalmon;
}

.emphasized {
    border: darkslategrey;
}